@model UserViewModel

<div class="from-group">
    <label asp-for="@Model.FName" class="col-form-label"></label>
    <input asp-for="@Model.FName" class="form-control" />
    <span asp-validation-for="@Model.FName" class="text-danger"></span>

</div>
<div class="from-group">
    <label asp-for="@Model.LName" class="col-form-label"></label>
    <input asp-for="@Model.LName" class="form-control" />
    <span asp-validation-for="@Model.LName" class="text-danger"></span>

</div>
<div class="from-group">
    <label asp-for="@Model.PhoneNumber" class="col-form-label"></label>
    <input asp-for="@Model.PhoneNumber" class="form-control" />
    <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>

</div>
