@model UserViewModel
<div class="from-group">
    <label asp-for="@Model.Id" class="col-form-label"></label>
    <input readonly asp-for="@Model.Id" class="form-control" />

</div>
<div class="from-group">
    <label asp-for="@Model.FName" class="col-form-label"></label>
    <input readonly asp-for="@Model.FName" class="form-control" />

</div>
<div class="from-group">
    <label asp-for="@Model.LName" class="col-form-label"></label>
    <input readonly asp-for="@Model.LName" class="form-control" />

</div>
<div class="from-group">
    <label asp-for="@Model.Email" class="col-form-label"></label>
    <input readonly asp-for="@Model.Email" class="form-control" />

</div>
<div class="from-group">
    <label asp-for="@Model.PhoneNumber" class="col-form-label"></label>
    <input readonly asp-for="@Model.PhoneNumber" class="form-control" />

</div>
