@model ProjectsViewModel
@inject IUnitOfWok unitOfWork
@{
    var departments = new SelectList(await unitOfWork.DepartmentRepository.GetAll(), "Id", "Name");
}
<div class="from-group">
    <label asp-for="@Model.Name" class="col-form-label"></label>
    <input asp-for="@Model.Name" class="form-control" />
    <span asp-validation-for="@Model.Name" class="text-danger"></span>

</div>
<div class="from-group">
    <label asp-for="@Model.Budget" class="col-form-label"></label>
    <input asp-for="@Model.Budget" class="form-control" />
    <span asp-validation-for="@Model.Budget" class="text-danger"></span>

</div>

<div class="from-group">
    <label asp-for="@Model.Department" class="col-form-label"></label>
    <select class="form-control" asp-items="@departments" asp-for="DepartmentId">
       <option value="@null">
            ------- Select Department -------
       </option>
   </select>
@*     <input asp-for="@Model.Department" class="form-control" />
 *@    <span asp-validation-for="@Model.Department" class="text-danger"></span>

</div>
